@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}
.body-index {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header nav {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav-logo-container img {
    width: 80px;
    height: 80px;
    margin: 25px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    font-size: 30px;
    margin: 20px;
}
/* main-index */
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 670px;
    background-image: url('./assets/Lorenzo\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: rgb(252, 249, 249);
    text-align: center;
    margin-top: 450px;
}

/* main-aboutme */
.aboutme-containers {
    font-family: 'Roboto mono' monospace;
    font-size: 25px;
    text-align: center;
    margin: 50px;
    background-color: rgb(149, 148, 150);
}
.aboutme-containers-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.aboutme-text-container {
    width: 85%;
}
.aboutme-text-container p {
    font-family: 'Roboto mono' monospace;
    text-align: center;
}
.lado-izq p {
    margin-left: 50px;
}

.aboutme-containers-text img {
   width: 60%;
   margin: 20px;
}

/* footer */
footer .footer-icons-container {
    width: 100%;
    height: 80px;
    display: grid;
    background-color: #47cfac;
}
footer .footer-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}
